<section class="section card grey darken-4">
    <p class="title">Popular Movies</p>
    <div class="list_slider">
        <ul>
            <% for(i=0; i<popular.length; i++) { %>
            <li>
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://image.tmdb.org/t/p/w500<%= popular[i].backdrop_path %>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><h6 class="twolines"><%= popular[i].original_title %></h6><i class="material-icons right">more_vert</i></span>
                        <p class="release_date"><%= popular[i].release_date %></p>
                        <a href="#" class="btn red-text text-darken-2"><i class="material-icons">receipt</i></a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><h6><%= popular[i].original_title %></h6><i class="material-icons right">close</i></span>
                        <div class="desc">
                            <%= popular[i].overview %>
                        </div>
                    </div>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</section>

<section class="section">
    <p class="title">Upcoming Movies</p>
    <div class="list_slider">
        <ul>
            <% for(i=0; i<upcoming.length; i++) { %>
            <li>
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://image.tmdb.org/t/p/w500<%= upcoming[i].backdrop_path %>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><h6 class="twolines"><%= upcoming[i].original_title %></h6><i class="material-icons right">more_vert</i></span>
                        <p class="release_date"><%= upcoming[i].release_date %></p>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><h6><%= upcoming[i].original_title %></h6><i class="material-icons right">close</i></span>
                        <div class="desc">
                            <%= upcoming[i].overview %>
                        </div>
                    </div>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</section>

<section class="section card grey darken-4">
    <p class="title">All-time Top Rated Movies</p>
    <div class="list_slider">
        <ul>
            <% for(i=0; i<rated.length; i++) { %>
            <li>
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://image.tmdb.org/t/p/w500<%= rated[i].backdrop_path %>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><h6 class="twolines"><%= rated[i].original_title %></h6><i class="material-icons right">more_vert</i></span>
                        <p class="release_date"><%= rated[i].release_date %></p>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><h6><%= rated[i].original_title %></h6><i class="material-icons right">close</i></span>
                        <div class="desc">
                            <%= rated[i].overview %>
                        </div>
                    </div>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</section>
